<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{ title || "Confirm" }}</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <form [formGroup]="forma" (ngSubmit)="confirm()">
      <div class="modal-body">
        <div class="row">
          <div class="col-auto">
            <div class="form-group">
              <label class="col-form-label">Monto CHP</label>
              <input
                formControlName="montochp"
                name="montochp"
                type="number"
                class="form-control"
                placeholder="CHP"
                [ngClass]="
                  montochp.invalid && (montochp.dirty || montochp.touched) ? 'is-invalid' : ''
                "
              />

              <div
                *ngIf="montochp.invalid && (montochp.dirty || montochp.touched)"
                class="invalid-feedback"
              >
                <div *ngIf="(montochp?.errors)['required']">Escriba chp</div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-group">
              <label class="col-form-label">Monto Bs</label>
              <input
                formControlName="montobs"
                name="montobs"
                type="number"
                class="form-control"
                placeholder="montobs"
                [ngClass]="
                  montobs.invalid && (montobs.dirty || montobs.touched) ? 'is-invalid' : ''
                "
              />
              <div
                *ngIf="montobs.invalid && (montobs.dirty || montobs.touched)"
                class="invalid-feedback"
              >
                <div *ngIf="(montobs?.errors)['required']">Escriba bs</div>
              </div>
            </div>
          </div>

          <div class="col-auto">
            <div class="form-group">
              <label class="col-form-label">Saldo Bs {{ saldoAnterior }}</label>
              <input
                formControlName="saldo"
                name="saldo"
                type="number"
                class="form-control"
                placeholder="Saldo Bs"
                [ngClass]="
                  saldo.invalid && (saldo.dirty || saldo.touched)
                    ? 'is-invalid'
                    : ''
                "
              />
              <div
                *ngIf="saldo.invalid && (saldo.dirty || saldo.touched)"
                class="invalid-feedback"
              >
                <div *ngIf="(saldo?.errors)['required']">Escriba saldo</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="compras.cargando"
        >
          Aceptar
        </button>
        <button type="button" class="btn btn-default" (click)="close()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
