<div class="font-weight-bold pb-1">
  Enviado por:
</div>
<div class="row">
  <div class="col-6 font-weight-bold">
    Nombre:
  </div>
  <div class="col-6 text-right">
    {{ tranferencia?.usuario?.paterno + ', ' + tranferencia?.usuario?.nombres }}
  </div>
</div>
<div class="row ">
  <div class="col-6 font-weight-bold">
    CI:
  </div>
  <div class="col-6 text-right">
    {{ tranferencia?.usuario?.ci }}
  </div>
</div>
<div class="row ">
  <div class="col-6 font-weight-bold">
    Correo:
  </div>
  <div class="col-6 text-right">
    {{ tranferencia?.usuario?.correo }}
  </div>
</div>
<div class="font-weight-bold pb-1">
  Datos del depósito:
</div>
<div class="row ">
  <div class="col-6 font-weight-bold">
    Monto:
  </div>
  <div class="col-6 text-right">
    {{ tranferencia?.transferencia?.monto }}
  </div>
</div>
<div class="row ">
  <div class="col-6 font-weight-bold">
    Tasa:
  </div>
  <div class="col-6 text-right">
    {{ tranferencia?.transferencia?.tasa }}
  </div>
</div>
<div class="row ">
  <div class="col-6 font-weight-bold">
    Imagen:
  </div>
  <div class="col-6 text-right">
    <img *ngIf="tranferencia?.transferencia?.imagen" width="150px;" class="img-responsive" [src]="'http://www.123depositos.com/transferencias_rest/uploads/' +  tranferencia?.transferencia?.imagen"
      alt="">
  </div>
</div>
<div class="font-weight-bold pb-1">
  Datos del destinatario:
</div>
<div class="row ">
  <div class="col-6 font-weight-bold">
    Nombre:
  </div>
  <div class="col-6 text-right">
    {{ tranferencia?.destinatario?.nombre }}
  </div>
</div>
<div class="row ">
  <div class="col-6 font-weight-bold">
    Correo:
  </div>
  <div class="col-6 text-right">
    {{ tranferencia?.destinatario?.correo }}
  </div>
</div>
<div class="row ">
  <div class="col-6 font-weight-bold">
    País:
  </div>
  <div class="col-6 text-right">
    {{ tranferencia?.destinatario?.pais }}
  </div>
</div>
<div class="row ">
  <div class="col-6 font-weight-bold">
    Banco:
  </div>
  <div class="col-6 text-right">
    {{ tranferencia?.destinatario?.banco }}
  </div>
</div>
<div class="row ">
  <div class="col-6 font-weight-bold">
    Numero cuenta:
  </div>
  <div class="col-6 text-right">
    {{ tranferencia?.destinatario?.ncuenta }}
  </div>
</div>