<div class="container" *ngIf="_usuario.usuario.id">
  <h4>
    Tranferencias
  </h4>
  <div class="row">
    <div class="col-sm">
      Filtros:
    </div>
    <div class="col_sm">
      <select #estado class="form-control" (change)="cambiar( estado.value )">
        <option value="">Todos</option>
        <option *ngFor="let e of _tansf.estados" [value]="e">{{ e }}</option>
      </select>
    </div>
  </div>
  <div class="row separar" *ngFor="let tranf of _tansf.transferencias">
    <div class="col-sm">
    {{ tranf?.transferencia?.fecha }}
    </div>
    <div *ngIf="_usuario.usuario.rol === 'A' " class="col-sm">
      {{ tranf?.usuario?.nombres }} {{ tranf?.usuario?.paterno }}
    </div>
    <div *ngIf="_usuario.usuario.rol === 'A'" class="col-sm">
      {{ tranf?.usuario?.pais }}
    </div>
    <div *ngIf="_usuario.usuario.rol === 'A'" class="col-sm">
      <span *ngIf="tranf?.usuario?.pais === 'Chile'">CHP $</span>
      <span *ngIf="tranf?.usuario?.pais === 'Colombia'">COL $</span>
      <span *ngIf="tranf?.usuario?.pais === 'Argentina'">ARS $</span>
      {{ tranf?.transferencia?.monto }}
    </div>
    <div *ngIf="_usuario.usuario.rol === 'A'" class="col-sm">
      Tasa Bs$ {{ tranf?.transferencia?.tasa }}
    </div>
    <div class="col-sm">
      Total Bs$ {{ totalBs(tranf) }}
    </div>

    <div class="col-sm">
      Nombre: {{ tranf?.destinatario?.nombre }}
    </div>
    <div class="col-sm">
      Banco: {{ tranf?.destinatario?.banco }}
    </div>
    <div class="col-sm">
      Cuenta: {{ tranf?.destinatario?.ncuenta }}
    </div>
    <div class="col-sm text-warning">
      {{ tranf?.transferencia?.estado }}
    </div>
    <div class="col-sm">
      tipo pago: {{ tranf?.transferencia?.tipo_pago }}
    </div>
    <div class="col-sm pt-1">
      <div class="p-1">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <button id="btnGroupDrop2" type="button" class="btn btn-outline-success dropdown-toggle " data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" [disabled]="tranf?.transferencia?.estado != 'Pendiente'">Acciones</button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop2" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
            <button type="button" class="dropdown-item" (click)="aprobar( tranf.transferencia.id )">Aprobar</button>
            <button type="button" class="dropdown-item" (click)="rechazar( tranf.transferencia.id )">Rechazar</button>
          </div>
        </div>
      </div>
      <div class="p-1">
        <button type="button" (click)="modalAdjuntar( tranf ) " [disabled]="tranf?.transferencia?.estado === 'Finalizado'" class="btn btn-outline-primary">Comprobante</button>
      </div>
      <div class="p-1">
        <button type="button" (click)="ver( tranf )" class="btn btn-outline-primary">Ver</button>
      </div>
      <div class="p-1">
        <button type="button" (click)="eliminar( tranf.transferencia.id )" class="btn btn-outline-primary">Eliminar</button>
      </div>
    </div>

  </div>
  <div>
    <ul class="pagination">

      <li *ngFor="let p of _tansf.paginas" class="page-item" [ngClass]="(p === _tansf.pag) ? 'active' : ''">
        <a (click)="verPag(p)" class="page-link">{{ p + 1 }}</a>
      </li>

    </ul>
  </div>

  <!-- btn enviar comprobante -->
  <button id="btn-comprobante" type="button" [hidden]="'true'" data-toggle="modal" data-target="#modalComprobante">
    xxx
  </button>
  <!-- Modal Comprobante -->
  <div class="modal fade" id="modalComprobante" tabindex="-1" role="dialog" aria-labelledby="modalComprobanteLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalComprobanteLabel">Adjuntar comprobante depósito</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-subir-archivo (datosArchivo)="adjuntarComprobante( $event )"></app-subir-archivo>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Btn Hidden -->
  <button id="btn-modal" type="button" [hidden]="'true'" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Transferencia</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-ver-transferencia [tranferencia]="tran"></app-ver-transferencia>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para el rechazo -->
  <div class="modal fade" id="modalRechazo" tabindex="-1" role="dialog" aria-labelledby="modalRechazoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalRechazoLabel">Motivo del rechazo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <input #imotivo type="text" class="form-control" value="No realizó el depósito">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="rechazarMotivo(imotivo.value)">Aceptar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Boton motivo -->
  <button id="btn-rechazo" type="button" [hidden]="'true'" class="btn btn-primary" data-toggle="modal" data-target="#modalRechazo">
    xxx
  </button>

</div>

<div class="container" *ngIf="!_usuario.usuario.id">
  <h4> Debe ingresar para ver las transferencias </h4>
</div>