<h3>Lista de administradores</h3>
<div *ngFor="let cuenta of _cuentas.usuarios" class="row p-1">
  <div class="col-sm"> Cod: {{ cuenta.id }}</div>
  <div class="col-sm">{{ cuenta.correo }}</div>
  <div class="col-sm">{{ cuenta.nombre }}</div>
  <div class="col-sm">{{ mostrarRol(cuenta.rol) }}</div>
  <div class="col-sm">
    <button (click)="modificar(cuenta)" class="btn btn-sm btn-outline-success">
      Modificar
    </button>
    &nbsp;

    <button (click)="eliminar(cuenta)" class="btn btn-sm btn-outline-danger">
      Eliminar
    </button>
  </div>
</div>
